@import "variables.scss";

.form {
  width: 100%;
  background-color: $charcoal;
  height: auto;
  font-family: "Montserrat";
  // display: grid;
  // grid-template-rows: 1fr auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  label {
    margin-left: 2%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: auto;
      margin-right: 1rem;
    }
  }

  input,
  select {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  input[type="text"]:focus {
    border: 3px solid $copper-red;
  }

  input[type="text"] {
    border-radius: 10px;
    border: 3px solid transparent;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }

  input[type="submit"] {
    margin-left: 2%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }

  select {
    font-size: 1.1rem;
    margin-left: 2%;
    padding: 0.3rem 0.4rem;
  }
}
