@import "variables.scss";

.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $prussian-blue;

  h1 {
    font-family: "Fredoka One";
    letter-spacing: 0.3rem;
    color: white;
  }
}
