@import "variables.scss";
.productBox {
  background-color: $tuscan-red;
  border-radius: 10px;
  height: 300px;
  margin-top: 2rem;
  margin-left: 2rem;
  min-width: 400px;
  transition: 0.2s ease-in-out all;
  display: grid;
  filter: brightness(0.9);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 200px 50px;
  grid-template-areas:
    "name name name"
    "image image image"
    "supermarket quantity price";

  &:hover {
    filter: brightness(1);
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    grid-area: name;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $charcoal;
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: image;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: quantity;
  }

  .price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: price;
    font-size: 1.3rem;
    font-family: "Fredoka One";
    padding-right: 1rem;
  }

  .supermarket {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: supermarket;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}
