@import "variables.scss";

.resultsWrapper {
  width: 100%;

  .resultsMenu {
    width: 100%;
    background-color: $background;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 1.4rem;
      padding: 1rem;
    }

    .sortWrapper {
      padding: 1rem;
    }
  }

  .productsWrapper {
    display: flex;
    padding-bottom: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
